/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2018, 12:15:15 PM
    Author     : 685442
*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}

.center {
    text-align: center;
}
.banner img {
    width: 100%;
    display: table;
}
.content img {
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    height: auto;
}
.menu {
    max-width: 1920px;
    height: 36px;
    display: flex;
    justify-content: space-evenly; /*horizontal center*/
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
}
.content {
    width: 1000px; 
    /* border-left: 2px solid black;
    border-right: 2px solid black;  */
    /** border-top: 2px solid black; */
    margin: 0px auto;
    background-color: white;
}
h1.bodyheader {
    /* margin-left: 50px; */
    margin-right: 50px;
    display: inline-block;
}
h1.bodyheaderc {
    /* margin-left: 50px; */
    text-align: center;
    
}
p.bodytext {
    margin-left: 150px;
    margin-right: 150px;
}

.menuitem a:link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 0px;
    border-style: none;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    text-decoration: none;
    transition: all 0.2s;
    height: 36px;
    display: block;
    cursor: pointer;
    line-height: 36px;
}

.menuitem a:visited {
    color: black;
}

.menuitem a:active {

    color: black;
}

.menuitem a:hover {
    background-color: rgba(142, 69, 61, 1); 
    color: white;
}
/*
**Employee Pages
*/

.addbutton {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 1px;
    border-style: solid;
    background-color: lightgray;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    transition: all 0.2s;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    width:200px;
    margin: auto;
}

.rowHeader {
    font-size: 20px;
    font-weight: bold;
    max-width: 1000px;
    height: 36px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    background-color: rgba(142, 69, 61, 1); 
    color: white;
}

.rowitemHeader {
    border-bottom: 1px solid black;
    height: 36px;
    width: 400px;
    text-align: center;
}

.addPlus {
    max-height: 50px;
    padding: 10px;
}

.row {
    max-width: 1000px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    border: 3px outset;
    background-color: white;
    pointer-events: none;
    
}

.addRow {
    max-width: 1000px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    border: 3px outset;
    box-sizing: border-box;
    background-color: white;
    
}

.rowAdd {
    max-width: 1000px;
    height: 50px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    border: 3px outset;
}

.row:hover {
    background-color: lightgray;
}

.rowitem {
    height: 70px;
    width: 400px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.rowitemAdd {
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.addText {
    width: 100%;
}
.rowAddOptions {
    max-width: 1000px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
}

.listOptions {
    max-width: 1000px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
}

.rowAddButton {
    height: 30px;
    width: 50%;
    display: flex;
}

.rowWrapper {
    max-width: 1000px;
    margin: auto;
}

.listButton {
    height: 30px;
    width: 33%;
    display: inline-flex;
    justify-content: center;
}

.fixedmenu {
    max-width: 1920px;
    height: 50px;
    display: block;
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
    margin:0 auto;
    position: relative;
}

.fixedleft {
    position: absolute;
}

.menuicon {
    padding-left: 15px;
    max-height: 50px;
    max-width: 45px;
}

.breadcrumb {
    padding-left: 20px;
    line-height: 50px;
    display: inline;
    position: absolute;
}

.fixedright {
    max-width: 200px;
    float: right;
    height: 50px;
    display: flex;
    padding-right: 15px;
}

.fixedright a {
    line-height: 50px;
}

.logout {
    
}


.formItem {
    background-color: #fefefe;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
