/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2018, 12:15:15 PM
    Author     : 685442
*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6ecf0;
    margin: 0px;
}

.center {
    text-align: center;
}
.banner img {
    width: 100%;
    display: table;
}
.content img {
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    height: auto;
}
.menu {
    max-width: 1920px;
    height: 36px;
    display: flex;
    justify-content: space-evenly; /*horizontal center*/
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
}

.content {
    width: 1000px; 
    /* border-left: 2px solid black;
    border-right: 2px solid black;  */
    /** border-top: 2px solid black; */
    margin: 0px auto;
    background-color: white;
}
h1.bodyheader {
    /* margin-left: 50px; */
    margin-right: 50px;
    display: inline-block;
}
h1.bodyheaderc {
    /* margin-left: 50px; */
    text-align: center;
    
}
p.bodytext {
    margin-left: 150px;
    margin-right: 150px;
}

.menuitem a:link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 0px;
    border-style: none;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    text-decoration: none;
    transition: all 0.2s;
    height: 36px;
    display: block;
    cursor: pointer;
    line-height: 36px;
}

.menuitem a:visited {
    color: black;
}

.menuitem a:active {

    color: black;
}

.menuitem a:hover {
    background-color: rgba(142, 69, 61, 1); 
    color: white;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.0);
    transition: background-color 1s ease-in-out;
    visibility: hidden;
}

body.modal_on .modal {
   background-color: rgba(0,0,0,0.45); /* Black w/ opacity */
   visibility: visible;
}

.modal-content {
    margin: auto;
    padding-bottom: 100px;
    width: 500px;
    overflow: auto;
    height: 78vh;
    min-width: 350px;
    background-color: rgba(249, 249, 249,0.96);
    position: relative;
    top: -100vh;
    opacity: 0;
    /*visibility: hidden;*/
    transition: all 1s ease-in-out;
}

body.modal_on .modal-content {
    visibility: visible;
    top: 0px;
    opacity: 1;
}

.sidenav {
    display: block;
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #3e4f5b;
    overflow-x: hidden;
    padding-top: 10px;
    top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: graytext;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

.addbutton {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 1px;
    border-style: solid;
    background-color: lightgray;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    transition: all 0.2s;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    width:200px;
    margin: auto;
}

.rowHeader {
    font-size: 20px;
    /*margin-top: 25px;*/
    display: flex;
    justify-content: center;
    align-items: center;
/*    background-color: #517791;*/
    background-color: #3e4f5b;
    color: white;
    width: calc(100% - 70px);
}

.rowitemHeader {
    height: 36px;
    width: 400px;
    padding-left: 10px;
}

.rowitemHeaderEmail {
    height: 36px;
    width: 435px;
    padding-left: 10px;
}


.resultContainer {
    display: inline;
    float: left;
    max-width: 33%;
    min-width: 33%;
    padding: 1px;
}
.rowHeaderSearchBanner {
    font-size: 20px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center; /*vertical center*/
    background-color: #52627c;
    color: white;
    margin-top: 25px;
    width:calc(100% - 70px);
}

.rowHeaderSearch {
    font-size: 20px;
    height: 36px;
    display: flex;
    align-items: center; /*vertical center*/
    background-color: #517791;
    color: white;
}

.rowitemHeaderSearch {
    height: 36px;
    width: 50%;
    padding-left: 10px;
}

.rowSearch {
    height: 70px;
    display: flex;
    align-items: center; /*vertical center*/
    border-bottom: 0.5px solid darkgray;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
}

.rowitemSearch {
    height: 70px;
    min-width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.addPlus {
    max-height: 50px;
    padding: 10px;
}

.row {
    height: 70px;
   /* background-color: white;*/
    overflow: hidden;
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.background {
    background-image: url("../res/background1.png");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background1 {
    background-color: rgba(255,255,255,0.85);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.rowWrapper:nth-child(odd) .row {
    background-color: rgba(255,255,255,0.95);
    /*background-color: rgba(219, 236, 252,0.95);*/
}

.rowWrapper:nth-child(even) .row {
    background-color: rgba(219, 236, 252,0.95);
    /*background-color: rgba(255,255,255,0.95);*/
}



.addRow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid darkgray;
    box-sizing: border-box;
    background-color: white;
    width: calc(100% - 70px);
    cursor: pointer;
}

.rowAdd {
    max-width: 1100px;
    height: 50px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    border: 3px outset;
}

.row:hover {
    background-color: lightgray;
}

.rowitem {
  width: 400px;
    max-width: 250px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.rowitemEmail {

    width: 435px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.rowitemAdd {
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.addText {
    width: 100%;
}
.rowAddOptions {
    max-width: 1100px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
}

.listOptions {
    max-width: 1100px;
    margin: auto;
    display: none;
    justify-content: center; /*horizontal center*/
}

.listOptionsSearch {
    display: none;
    justify-content: center; /*horizontal center*/
}

.rowAddButton {
    height: 30px;
    width: 50%;
    display: flex;
}

.rowWrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    position: relative;
    top:0px;
    right:0px;
    transition: all 0.15s ease-in;
    opacity: 1;
}

.rowWrapper.slide {
    right:80px;
    opacity: 0;
}

.listWrapper {
    margin-left: 175px;
    padding-left: 25px;
    padding-right: 25px;
}

.search {
    float: right;
    line-height: 27px;
    margin-right: 6px;
}

.deleteButton {
    background-image: url("../res/delete.png");
    background-size: 70% 70%;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    min-width: 70px;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.addButtonSmall {
    background-image: url("../res/plus.png");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

.deleteButtonSmall,
.deleteButtonSmall2 {    
    background-image: url("../res/delete.png");
    background-position: center;
    background-size: 130% 130%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

.deleteButtonSmall2 {
    left: 17px;
}

.rowButton {
    position:absolute;
    top:0px;
    left:0px;
    width: calc(100% - 70px);
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.1s ease-in-out;
    border-color: rgba(0,0,0,0.2);
}

.rowButton:hover {
    border-left:0px solid black;
    border-right:0px solid black;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-color: rgba(0,0,0,0.04);
}

.row:hover {
    /*font-weight: bold;*/
}

.listButton {
    width: 33%;
    justify-content: center;
    text-align: center;
}

.listButton input[type=submit],
.listButton input[type=button]{
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.fixedmenu {
    max-width: 1920px;
    height: 30px;
    display: block;
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
    margin:0 auto;
    position: fixed;
    background-color: #36454f;
    width: calc(100% - 175px);
    margin-left: 175px;
    z-index: 1;
}

.fixedleft {
    position: absolute;
}

.menuicon {
    padding-left: 15px;
    max-height: 50px;
    max-width: 45px;
    display: inline;
}

.breadcrumb {
    padding-left: 20px;
    line-height: 50px;
    display: inline;
    position: absolute;
    color: white;
}

.fixedright {
    float: right;
    padding-right: 15px;
}

.fixedright a {
    line-height: 50px;
}

.logout {
    color: white;
}


.formItem {
    background-color: #fefefe;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 30%;
}

.contentInfo {
    padding-left: 5px;
}

.contentHeader {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 5px;
}

.contentSubHeader {
    margin: 0px;
}

.contentBody {
}

.contentBodyInput {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contentBodyInputNormal {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contentBodyInputNormal.fixed {
    width: 220px;
}

.contentBodyInputNormal.fixed2 {
    width: 230px;
}

.contentBodyInputNormal.fixed.uneditable,
.contentBodyInputNormal.fixed2.uneditable {
    border: none;
    background-color: rgba(0,0,0,0.1);
    font-size: 13px;
}

.contentBodyInputNormalTextArea {
    width: 268px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 30px;
}

.contentBodyInputNormalTextArea2 {
    width: 312px;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.generateReport {
    display: flex;
    align-items: center;
}

.generateReport .addButtonSmall {
    left: 16px;
}

.contentBodyLeftInStock {
    position: relative;
    top: 0px;
    left: 144px;
    font-size: 13px;
    width: 116px;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.1);
}

.contentBodyLeftInStock span:nth-of-type(1){
    text-align: left;
    width: 55px;
    display: inline-block;
}

.contentBodyLeftInStock span:nth-of-type(2){
    text-align: right;
    width: 45px;
    display: inline-block;
}

.contentBlockWrapper {
    background-color: rgba(0,0,0,0.06);
    padding: 14px;
    margin-bottom: 10px;
    width: 340px;
}

.contentBodyInputBig {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contentBodyInputSmall {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contentBodyInputSmall.fixed{
    width: 75px;
}

.reportList {
    width: 368px;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.reportList:nth-child(odd) {
    background-color: rgba(219, 236, 252,0.95);
}

.reportList:nth-child(even) {
    background-color: rgba(255,255,255,0.95);
}

.reportList input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-indent: -9999px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.viewcontent {
    width: 50%; 
    border-radius: 10px;
    border: 0.5px solid lightgray;
    margin: 0px auto;
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 2px;
    padding: 10px;
    background-color: rgba(255, 255, 255,.85);
}

.viewcontentJob {
    width: 40%; 
    border-radius: 10px;
    margin: 0px auto;
    background-color: white;
    border: 0.5px solid lightgray;
    box-sizing: border-box;
    padding: 10px;
    display: inline;
    float: right;
    min-height: 1000px;
    background-color: rgba(255, 255, 255,.85);
    margin-right: 30px;
}

.editIcon {
    text-align: right;
    max-height: 35px;
    width: auto;
    padding: 5px;
    float: right;
}

.editIcon:hover {
    text-align: right;
    max-height: 35px;
    width: auto;
    padding-right: 5px;
    padding-top: 5px;
    float: right;
    background-color: lightgray;
    cursor: pointer;
}

.editIconJob {
    max-height: 20px;
    font-weight: bold;
    width: auto;
    vertical-align: text-top;
    display: inline-block;
}

.editIconJob:hover {
    max-height: 20px;
    font-weight: bold;
    width: auto;
    vertical-align: text-top;
    display: inline-block;
    background-color: lightgray;
    cursor: pointer;
}

.phoneNumberList input,
.phoneNumberList .uneditable {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.phoneNumberList .uneditable,
.contentBodyInput.uneditable {
    padding: 8px 20px;
    border: none;
    background-color: rgba(0,0,0,0.1);
}

/* Modal Div Table */

.divTable {
}

.divTableHead {
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e4f5b;
    color: white;
    width: 100%;
    height: 40px;
}

.divTableRow {
    display: flex;
    justify-content: center;
}

.divTableCellLabel {
    display: flex;
    width:200px;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
}

.divTableCellField {
    width:220px;
}

.divTableCellSubmit {
    width:450px;
    text-align: right;
}

.divTable input,
.divTable select{
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 178px;
}

.phonePlus {
    background-image: url("../res/plus.png");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 12px;
}

.phoneMinus {
    background-image: url("../res/delete.png");
    background-position: center;
    background-size: 130% 130%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 16px;
}

.saveButton,
.saveChangesButton {
    padding: 12px 20px !important;
    margin: 6px 0 !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    background-color: rgba(51,144,72,1) !important;
    color: white !important;
}

.saveChangesButton {
    display: inline-block;
    position: fixed;
    top: 46px;
    right: 20px;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* MESSAGES *******************************************************************/

.message {
    display: block;
    background: rgba(0,0,0,0.9);
    position: fixed;
    width: calc(100% - 20px);
    height: 70px;
    bottom: 10px;
    padding: 22px;
    box-sizing: border-box;
    color: white;
    opacity:0;
    transition: all 0.5s ease-in;
    visibility: hidden;
    left:-30px;
    z-index: 1;
}

body.trigger_message .message{
    opacity:1;
    visibility: visible;
    left:10px;
}

.message_close {
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="357px" height="357px" viewBox="0 0 357 357" xml:space="preserve"><g fill="white"><polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5"/></g></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 0px;
    border: none;
    cursor:pointer;
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:10px;
    right:10px;
}
