/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2018, 12:15:15 PM
    Author     : 685442
*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}
.banner img {
    width: 100%;
    margin: 0px;
}
.content img {
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    height: auto;
}
.menu {
    max-width: 1920px;
    height: 36px;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
}
.content {
    width: 1000px; 
    /* border-left: 2px solid black;
    border-right: 2px solid black;  */
    /** border-top: 2px solid black; */
    margin: 0px auto;
    background-color: white;
}
h1.bodyheader {
    /* margin-left: 50px; */
    margin-right: 50px;
    display: inline-block;
}
h1.bodyheaderc {
    /* margin-left: 50px; */
    text-align: center;
    
}
p.bodytext {
    margin-left: 150px;
    margin-right: 150px;
}

.menuitem a:link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 0px;
    border-style: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-decoration: none;
    transition: all 0.2s;
    height: 36px;
    display: block;
    cursor: pointer;
    line-height: 36px;
    width:200px;
}

.menuitem a:visited {
    color: black;
}

.menuitem a:active {

    color: black;
}

.menuitem a:hover {
    background-color: rgba(142, 69, 61, 1); 
    color: white;
}
/*
**Employee Pages
*/

.addbutton {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    color: black;
    border-width: 1px;
    border-style: solid;
    background-color: lightgray;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    transition: all 0.2s;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    width:200px;
    margin: auto;
}

.row {
    max-width: 1280px;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
}

.fixedmenu {
    max-width: 1920px;
    height: 50px;
    display: flex;
    align-items: center; /*vertical center*/
    background-color: rgba(211, 211, 211, 1);
}

.fixedleft {
    align-items: center; /*vertical center*/
    justify-content: center; /*horizontal center*/
}

.menuicon {
    max-height: 50px;
    max-width: 45px;
}

.breadcrumb {
    padding-left: 20px;
}

.fixedright {
    float: right;
}

.logout {
    float: right;
}